@charset "UTF-8";
@keyframes scrolling-text-container {
  from {
    -webkit-transform: translateY(-130%);
    transform: translateY(-130%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/* FÄRGER */
/* färgtema orange

$button-color: #de8f40;
$button-hover-color: #cf8134; */
/* TYPSNITT OCH TYPSTORLEK */
/* vet inte alls om jag ska använda mig att detta system, testar lite bara :) */
/* line 4, scss/main.scss */
body, html {
  z-index: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

/* NAVIGERING */
/* line 17, scss/main.scss */
.nav-bar-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }
  @media screen and (min-width: 769px) {
    /* line 17, scss/main.scss */
    .nav-bar-container {
      position: static; } }
  /* line 22, scss/main.scss */
  .nav-bar-container a {
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none; }
  /* line 30, scss/main.scss */
  .nav-bar-container a:hover {
    color: grey; }

/* BANNER STARTSIDA */
/* line 37, scss/main.scss */
section {
  height: 50%;
  margin-top: 12%; }

@media screen and (min-width: 769px) {
  /* line 42, scss/main.scss */
  section {
    height: 100%;
    margin-top: 0; } }

/* line 47, scss/main.scss */
.section-container {
  height: 100%;
  width: 100%;
  position: relative; }

/* line 52, scss/main.scss */
.hero-one,
.hero-two,
.hero-three {
  box-shadow: 1px 1px 5px grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
  position: absolute; }

/* line 63, scss/main.scss */
.hero-one {
  background-image: url("../images/hero-1.jpg"); }

/* line 66, scss/main.scss */
.hero-two {
  background-image: url("../images/hero-2.jpg");
  animation: slideTwoAnim 5s infinite; }

/* line 70, scss/main.scss */
.hero-three {
  background-image: url("../images/hero-3.jpg");
  animation: slideThreeAnim 5s infinite; }

@keyframes slideTwoAnim {
  0% {
    opacity: 0; }
  17% {
    opacity: 0; }
  33% {
    opacity: 1; }
  50% {
    opacity: 1; }
  67% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slideThreeAnim {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  67% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* PRODUKTBILDER STARTSIDA */
/* line 78, scss/main.scss */
.product-image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2% 0 2% 0; }

/* line 82, scss/main.scss */
.product-image {
  position: relative;
  width: 100%;
  margin: 15px; }
  /* line 86, scss/main.scss */
  .product-image img {
    box-shadow: 1px 1px 5px grey;
    width: 100%; }
  /* line 90, scss/main.scss */
  .product-image button {
    cursor: pointer;
    text-align: center;
    background-color: #d5bccf;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 3% 4% 3% 4%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

@media screen and (min-width: 769px) {
  /* line 100, scss/main.scss */
  .product-image-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif; }
    /* line 102, scss/main.scss */
    .product-image-container .product-image {
      width: 100%; }
      /* line 104, scss/main.scss */
      .product-image-container .product-image button {
        cursor: pointer;
        text-align: center;
        background-color: #d5bccf;
        color: white;
        border: none;
        font-size: 1.2rem;
        padding: 2% 4% 2% 4%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 12px 24px; } }

/* RULLANDE TEXT PRODUKTSIDOR */
/* line 119, scss/main.scss */
.scrolling-text-container {
  box-shadow: 1px 1px 5px grey;
  overflow: hidden;
  position: relative;
  background: #d5bccf;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
  font-family: Impact, 'Arial Narrow Bold'; }

/* line 130, scss/main.scss */
.scrolling-text-container p {
  position: absolute;
  width: 100%;
  margin-top: 30%;
  font-size: 3rem;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scrolling-text-container 5s linear infinite;
  -webkit-animation: sscrolling-text-container 5s linear infinite;
  animation: scrolling-text-container 5s linear infinite; }

@media screen and (min-width: 769px) {
  /* line 138, scss/main.scss */
  .scrolling-text-container p {
    position: absolute;
    width: 100%;
    margin-top: 3%;
    font-size: 5rem;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scrolling-text-container 5s linear infinite;
    -webkit-animation: sscrolling-text-container 5s linear infinite;
    animation: scrolling-text-container 5s linear infinite; } }

/* PRODUKTSIDOR */
/* line 149, scss/main.scss */
.wrapperProductPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%; }

/* line 153, scss/main.scss */
.itemDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column; }

/* line 157, scss/main.scss */
img {
  width: 85%;
  align-self: center;
  box-shadow: 1px 1px 5px grey; }

/* line 162, scss/main.scss */
h2 {
  margin-left: 11%;
  margin-top: -1%; }

/* line 166, scss/main.scss */
h3 {
  margin-left: 11%; }

/* line 169, scss/main.scss */
p {
  margin-left: 11%;
  margin-top: -3%; }

/* line 174, scss/main.scss */
.itemDiv:hover {
  cursor: pointer; }

@media screen and (min-width: 769px) {
  /* line 178, scss/main.scss */
  .wrapperProductPage {
    margin-top: 3%;
    justify-content: center; }
  /* line 182, scss/main.scss */
  .itemDiv {
    width: 27%; }
    /* line 184, scss/main.scss */
    .itemDiv img {
      width: 90%; }
    /* line 187, scss/main.scss */
    .itemDiv h2 {
      margin-left: 8%;
      margin-top: 0%; }
    /* line 191, scss/main.scss */
    .itemDiv h3 {
      margin-left: 8%; }
    /* line 194, scss/main.scss */
    .itemDiv p {
      margin-left: 8%;
      font-size: 14px;
      margin-top: -5%; } }

/* ENSKILD PRODUKTSIDA */
/* line 204, scss/main.scss */
#specificProductContentwrap {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  width: 100%;
  flex-wrap: wrap; }
  /* line 210, scss/main.scss */
  #specificProductContentwrap img {
    width: 100%; }
  /* line 213, scss/main.scss */
  #specificProductContentwrap #productTextBox {
    display: flex;
    flex-direction: column;
    width: 100%; }
    /* line 217, scss/main.scss */
    #specificProductContentwrap #productTextBox h2 {
      margin-top: 5%;
      margin-left: 5%; }
  /* line 222, scss/main.scss */
  #specificProductContentwrap #description {
    margin-left: 5%; }
  /* line 225, scss/main.scss */
  #specificProductContentwrap ul {
    margin-left: 5%;
    margin-top: -1%; }
  /* line 229, scss/main.scss */
  #specificProductContentwrap h1 {
    margin-left: 5%; }
  /* line 232, scss/main.scss */
  #specificProductContentwrap #addToCartButton {
    cursor: pointer;
    text-align: center;
    background-color: #d5bccf;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 2% 4% 2% 4%;
    width: 90%;
    align-self: center;
    margin-top: -3%; }
  /* line 239, scss/main.scss */
  #specificProductContentwrap #dropDownMenu {
    list-style-type: none;
    border: 1px solid black;
    width: 30%;
    text-align: left;
    padding: 0; }
    /* line 245, scss/main.scss */
    #specificProductContentwrap #dropDownMenu .sizeOption {
      margin-top: 5px; }
    /* line 248, scss/main.scss */
    #specificProductContentwrap #dropDownMenu li:hover {
      background-color: #d5bccf;
      cursor: pointer; }

@media screen and (min-width: 769px) {
  /* line 256, scss/main.scss */
  #specificProductContentwrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%; }
    /* line 261, scss/main.scss */
    #specificProductContentwrap img {
      width: 40%; }
    /* line 264, scss/main.scss */
    #specificProductContentwrap #productTextBox {
      display: flex;
      flex-direction: column;
      width: 40%; }
      /* line 268, scss/main.scss */
      #specificProductContentwrap #productTextBox h1 {
        font-size: 1.5rem;
        margin-left: 5%;
        margin-top: 5%; }
      /* line 273, scss/main.scss */
      #specificProductContentwrap #productTextBox #description, #specificProductContentwrap #productTextBox #dropDownMenu {
        font-size: 1rem;
        margin-left: 5%; }
      /* line 277, scss/main.scss */
      #specificProductContentwrap #productTextBox #productPrize {
        font-weight: bold;
        margin-left: 5%; }
      /* line 281, scss/main.scss */
      #specificProductContentwrap #productTextBox #addToCartButton {
        cursor: pointer;
        text-align: center;
        background-color: #d5bccf;
        color: white;
        border: none;
        font-size: 1.2rem;
        padding: 2% 4% 2% 4%;
        width: 40%;
        margin-top: 50%;
        margin-left: -51%; }
    /* line 289, scss/main.scss */
    #specificProductContentwrap #dropDownMenu {
      list-style-type: none;
      border: 1px solid black;
      width: 30%;
      text-align: left;
      padding: 0; }
      /* line 295, scss/main.scss */
      #specificProductContentwrap #dropDownMenu .sizeOption {
        margin-top: 5px; }
      /* line 298, scss/main.scss */
      #specificProductContentwrap #dropDownMenu li:hover {
        background-color: #3a93ce;
        cursor: pointer; } }

/* line 308, scss/main.scss */
#shoppingCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  z-index: 10000; }
  /* line 315, scss/main.scss */
  #shoppingCart .shoppingCartImgDiv img {
    width: 100%;
    height: auto; }
  /* line 321, scss/main.scss */
  #shoppingCart .shoppingCartItemDiv {
    display: flex;
    justify-content: space-between;
    border: 1px solid black; }
    /* line 325, scss/main.scss */
    #shoppingCart .shoppingCartItemDiv .shoppingCartDeleteBtn {
      color: red;
      background: none;
      border: none;
      font-size: 1.5rem;
      justify-self: flex-end; }

/* line 335, scss/main.scss */
#shoppingcartButton:hover {
  cursor: pointer; }

/* line 340, scss/main.scss */
#goToCheckout {
  cursor: pointer;
  text-align: center;
  background-color: #d5bccf;
  color: white;
  border: none;
  font-size: 0,8rem;
  padding: 1%; }

/* line 344, scss/main.scss */
#shoppingcartExtend {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  z-index: 5; }
  /* line 352, scss/main.scss */
  #shoppingcartExtend #shoppingCartDiv {
    position: absolute;
    left: 70%;
    top: 5%;
    background-color: white;
    width: 25%;
    border: 1px solid pink; }

/* line 362, scss/main.scss */
.hidden {
  display: none; }

/*
Style for Validation Message
*/
/* line 370, scss/main.scss */
#username-error, #email-error {
  color: #d9534f;
  padding: 12px;
  display: none; }

/* PRODUKT FORM */
/* line 378, scss/main.scss */
#checkout-form-wrap {
  margin-top: 15%; }

/* line 381, scss/main.scss */
.checkout-products {
  width: 100%; }

/* line 384, scss/main.scss */
.product-Div {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  border: green 2px solid; }
  /* line 388, scss/main.scss */
  .product-Div img {
    width: 60%; }

/* line 392, scss/main.scss */
.product-text-div {
  width: 40%;
  border: red 2px solid; }
  /* line 395, scss/main.scss */
  .product-text-div h5 {
    margin-left: 5%; }
  /* line 398, scss/main.scss */
  .product-text-div h1 {
    margin-left: 5%;
    margin-top: -4%; }
  /* line 402, scss/main.scss */
  .product-text-div span {
    margin-left: 5%;
    margin-top: -4%; }
  /* line 406, scss/main.scss */
  .product-text-div button {
    cursor: pointer;
    text-align: center;
    background-color: #d5bccf;
    color: white;
    border: none;
    font-size: 0,8rem;
    padding: 1%; }

@media screen and (min-width: 769px) {
  /* line 413, scss/main.scss */
  #checkout-form-wrap {
    margin-top: 2%; }
  /* line 416, scss/main.scss */
  .checkout-products {
    width: 100%; }
  /* line 419, scss/main.scss */
  .product-Div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    border: green 2px solid; }
    /* line 423, scss/main.scss */
    .product-Div img {
      width: 25%; }
  /* line 427, scss/main.scss */
  .product-text-div {
    width: 25%;
    border: red 2px solid; } }

/* FORM */
/* line 435, scss/main.scss */
#my-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%; }
  /* line 441, scss/main.scss */
  #my-form div {
    background-color: #f1f1f1;
    width: 90%;
    margin-bottom: 7%;
    padding: 7% 0 7% 0;
    display: flex;
    flex-direction: column; }
  /* line 449, scss/main.scss */
  #my-form button {
    cursor: pointer;
    text-align: center;
    background-color: #d5bccf;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 3% 4% 3% 4%;
    width: 80%;
    align-self: center;
    margin-top: 7%; }
  /* line 455, scss/main.scss */
  #my-form p {
    margin: 1% 0 0 10%; }

@media screen and (min-width: 769px) {
  /* line 461, scss/main.scss */
  #my-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%; }
    /* line 467, scss/main.scss */
    #my-form div {
      background-color: #f1f1f1;
      width: 90%;
      margin-bottom: 7%;
      padding: 7% 0 7% 0;
      display: flex;
      flex-direction: column; }
    /* line 475, scss/main.scss */
    #my-form button {
      cursor: pointer;
      text-align: center;
      background-color: #d5bccf;
      color: white;
      border: none;
      font-size: 1.1rem;
      padding: 3% 4% 3% 4%;
      width: 50%;
      margin-top: 4%;
      align-self: center; }
    /* line 481, scss/main.scss */
    #my-form p {
      margin: 1% 0 0 10%; } }

/* DIALOG */
/* line 489, scss/main.scss */
.product-div-form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%; }

/* line 493, scss/main.scss */
.product-image-form {
  width: 50%; }

/* line 496, scss/main.scss */
.product-text-div {
  width: 50%; }
