@charset "UTF-8";
/* FÄRGER */
/* färgtema orange

$button-color: #de8f40;
$button-hover-color: #cf8134; */
/* TYPSNITT OCH TYPSTORLEK */
/* vet inte alls om jag ska använda mig att detta system, testar lite bara :) */
body, html {
  z-index: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

/* NAVIGERING */
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  @media screen and (min-width: 769px) {
    .nav-bar {
      position: static; } }
  .nav-bar a {
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none; }
  .nav-bar a:hover {
    color: grey; }

/* BANNER */
section {
  height: 50%;
  margin: 0;
  padding: 0; }

.wrapper-container {
  height: 100%;
  width: 100%;
  position: relative; }

.wrapper-one,
.wrapper-two,
.wrapper-three {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
  position: absolute; }

.wrapper-one {
  background-image: url("../images/hero-1.jpg"); }

.wrapper-two {
  background-image: url("../images/hero-2.jpg");
  animation: slideTwoAnim 5s infinite; }

.wrapper-three {
  background-image: url("../images/hero-3.jpg");
  animation: slideThreeAnim 5s infinite; }

@keyframes slideTwoAnim {
  0% {
    opacity: 0; }
  17% {
    opacity: 0; }
  33% {
    opacity: 1; }
  50% {
    opacity: 1; }
  67% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slideThreeAnim {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  67% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media screen and (min-width: 769px) {
  section {
    height: 100%;
    margin: 0;
    padding: 0; } }

/* PRODUKTBILDER PÅ MAINPAGE */
.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px; }

.product-image {
  position: relative;
  width: 100%;
  margin: 15px; }
  .product-image img {
    width: 100%; }
  .product-image button {
    cursor: pointer;
    text-align: center;
    background-color: #d5bccf;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 1.4%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px; }

@media screen and (min-width: 769px) {
  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; }
    .image-container .product-image {
      width: 50%; }
      .image-container .product-image .button {
        cursor: pointer;
        text-align: center;
        background-color: #d5bccf;
        color: white;
        border: none;
        font-size: 1.3rem;
        padding: 2%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 12px 24px; } }

/* PRODUKTSIDOR */
.product-page-header {
  background-color: #d5bccf;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center; }

.wrapperProductPage {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.itemDiv {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px; }

.itemDiv:hover {
  cursor: pointer; }

.productImage {
  width: 100%; }

@media screen and (min-width: 769px) {
  .itemDiv {
    width: 30%; } }

#shoppingCart {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 100px;
  z-index: 10000; }

#goToCheckout {
  cursor: pointer;
  text-align: center;
  background-color: #d5bccf;
  color: white;
  border: none;
  font-size: 0,8rem;
  padding: 1%; }

#shoppingcartExtend {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  z-index: 5; }
  #shoppingcartExtend #shoppingCartDiv {
    position: absolute;
    background-color: white;
    right: 0px;
    border: 5px solid pink; }

.hidden {
  display: none; }

#specificProductContentwrap {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  flex-wrap: wrap; }
  #specificProductContentwrap img {
    width: 100%; }
  #specificProductContentwrap #productTextBox {
    display: flex;
    flex-direction: column;
    width: 100%; }
    #specificProductContentwrap #productTextBox h1 {
      font-size: 1.5rem;
      margin-left: 5%; }
    #specificProductContentwrap #productTextBox #description, #specificProductContentwrap #productTextBox #dropDownMenu {
      font-size: 1rem;
      margin-left: 5%;
      margin-top: 0; }
    #specificProductContentwrap #productTextBox #productPrize {
      font-size: 1.8rem;
      font-weight: bold;
      margin-left: 5%;
      margin-top: 0; }
    #specificProductContentwrap #productTextBox #addToCartButton {
      cursor: pointer;
      text-align: center;
      background-color: #d5bccf;
      color: white;
      border: none;
      font-size: 1.3rem;
      padding: 2%;
      width: 90%;
      align-self: center;
      margin-top: -3%; }
  #specificProductContentwrap #dropDownMenu {
    list-style-type: none;
    border: 1px solid black;
    width: 30%;
    text-align: left;
    padding: 0; }
    #specificProductContentwrap #dropDownMenu .sizeOption {
      margin-top: 5px; }
    #specificProductContentwrap #dropDownMenu li:hover {
      background-color: #3a93ce;
      cursor: pointer; }

@media screen and (min-width: 769px) {
  #specificProductContentwrap {
    display: flex;
    justify-content: center;
    width: 100%; }
    #specificProductContentwrap img {
      width: 40%; }
    #specificProductContentwrap #productTextBox {
      display: flex;
      flex-direction: column;
      width: 40%; }
      #specificProductContentwrap #productTextBox h1 {
        font-size: 1.5rem;
        margin-left: 5%;
        margin-top: 5%; }
      #specificProductContentwrap #productTextBox #description, #specificProductContentwrap #productTextBox #dropDownMenu {
        font-size: 1rem;
        margin-left: 5%; }
      #specificProductContentwrap #productTextBox #productPrize {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 5%; }
      #specificProductContentwrap #productTextBox #addToCartButton {
        cursor: pointer;
        text-align: center;
        background-color: #d5bccf;
        color: white;
        border: none;
        font-size: 1.3rem;
        padding: 2%;
        width: 40%;
        margin-top: 50%;
        margin-left: -51%; }
    #specificProductContentwrap #dropDownMenu {
      list-style-type: none;
      border: 1px solid black;
      width: 30%;
      text-align: left;
      padding: 0; }
      #specificProductContentwrap #dropDownMenu .sizeOption {
        margin-top: 5px; }
      #specificProductContentwrap #dropDownMenu li:hover {
        background-color: #3a93ce;
        cursor: pointer; } }

/*
Style for Validation Message
*/
#username-error, #email-error {
  color: #d9534f;
  padding: 12px;
  display: none; }

/* KASSA SIDAN mobil */
#checkout-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.checkout-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  background-color: #f1f1f1;
  width: 90%; }
  .checkout-products .product-Div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border: 1px solid black; }
    .checkout-products .product-Div img {
      width: 90%; }
    @media screen and (min-width: 769px) {
      .checkout-products .product-Div img {
        width: 40%;
        height: auto; } }
    .checkout-products .product-Div .product-text-div {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid red; }
      .checkout-products .product-Div .product-text-div h5 {
        font-size: 1.2rem; }

.checkout-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center; }
  .checkout-forms form {
    width: 90%; }
    .checkout-forms form div {
      background-color: #f1f1f1;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .checkout-forms form div button {
        cursor: pointer;
        text-align: center;
        background-color: #d5bccf;
        color: white;
        border: none;
        font-size: 1.1rem;
        padding: 1.4%; }
