@mixin phone-only {
    @media screen and (max-width:768px) {
        @content;
    }   
}

@mixin tablets-up {
    @media screen and (min-width:769px) {
        @content;
    }
}

@mixin button-small {

        cursor: pointer;
        text-align: center;
        background-color: $button-color;
        color: white;
        border: none;
        font-size: 0,8rem;
        padding: 1%;
      }

@mixin button-medium {

    cursor: pointer;
    text-align: center;
    background-color: $button-color;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 1.4%;
  }


@mixin button-large {
    cursor: pointer;
    text-align: center;
    background-color: $button-color;
    color: white;
    border: none;
    font-size: 1.3rem;
    padding: 2%;
  }



