@mixin phone-only {
    @media screen and (max-width:768px) {
        @content;
    }   
}

@mixin tablets-up {
    @media screen and (min-width:769px) {
        @content;
    }
}

@mixin button-small {
        cursor: pointer;
        text-align: center;
        background-color: $button-color;
        color: white;
        border: none;
        font-size: 0,8rem;
        padding: 1%;
      }

@mixin button-medium {
    cursor: pointer;
    text-align: center;
    background-color: $button-color;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 3% 4% 3% 4%;
  }


@mixin button-large {
    cursor: pointer;
    text-align: center;
    background-color: $button-color;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 2% 4% 2% 4%;
  }

  @mixin flex-full-width-wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }

  @mixin flex-full-width-nowrap-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }

  @mixin flex-full-width-nowrap-fixed-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }



