@mixin phone-only {
    @media screen and (max-width:768px) {
        @content;
    }   
}

@mixin tablets-up {
    @media screen and (min-width:769px) {
        @content;
    }
}

@mixin button {

        cursor: pointer;
        text-align: center;
        font-size: 25px;
        background-color: #de8f40;
        color: white;
        border: none;
        text-decoration: none;  
      }
      .button:hover {
        background-color: #cf8134;
     
}