/* FÄRGER */ 

$bg-color: white;
$bg-color-secondary: #f1f1f1;

$text-color: black;
$text-color-secondary: white; 

$hover-color: grey;

/* TYPSNITT OCH TYPSTORLEK */ 

$font-family: Arial, Helvetica, sans-serif;


/* vet inte alls om jag ska använda mig att detta system, testar lite bara :) */







