/* FÄRGER */ 

$text-color: black;
$text-color-secondary: white; 

$bg-color: white;
$bg-color-secondary: #f1f1f1;

$button-color: #d5bccf;
$button-hover-color: #edd1e7;

$link-hover-color: grey;

/* TYPSNITT OCH TYPSTORLEK */

$font-family: 'Oswald', sans-serif; 









