@import './mixins';
@import './variables';

body, html {
       
        margin: 0; 
        padding: 0;
        height: 100%;
        width: 100%; 
        background: $bg-color;
        color: $text-color;
        font-family: $font-family;
  }

  /* NAVIGERING */ 

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
   a {
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: $text-color;
    font-size: 20px;
    text-decoration: none;
    }
   
    a:hover {
     color: $link-hover-color;
    }
  }  
  
/* BANNER */

  section {
    height: 50%; 
    margin: 0;
    padding: 0;
  }
  
  .wrapper-container {
    height: 100%;
    width: 100%;
    position: relative;
  }
 
  .wrapper-one,
  .wrapper-two,
  .wrapper-three {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
  width: 100%;
  position: absolute;
}
 
  .wrapper-one {
    background-image: url("../images/hero-1.jpg");
}
.wrapper-two {
    background-image: url("../images/hero-2.jpg");
  animation: slideTwoAnim 5s infinite;
}
.wrapper-three {
    background-image: url("../images/hero-3.jpg");
  animation: slideThreeAnim 5s infinite;
}

@keyframes slideTwoAnim {
  0%{opacity:0;}
  17%{opacity:0;}
  33%{opacity:1;}
  50%{opacity:1;}
  67%{opacity:0;} 
  100%{opacity:0;}
}

@keyframes slideThreeAnim {
  0%{opacity:0;}
  50%{opacity:0;}
  67%{opacity:1;}
  83%{opacity:1;}
  100%{opacity:0;}
}

@include tablets-up {
  section {
  height: 100%;
  margin: 0;
  padding: 0;
}
}

/* PRODUKTBILDER SAMT LÄNK TILL PRODUKTSIDORNA */

.image-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.product-image {
  position: relative;
  width: 100%;
  margin: 15px;

  img {
  width: 100%; 
}

 button { 
  @include button;
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;    
}
}

@include tablets-up {
  .image-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  .product-image {
  width: 50%;
}
}

 /* PRODUKTSIDOR */

 .wrapperProductPage {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 }

.itemDiv{
  width: 100%;   
  margin-left: 20px;
  margin-right: 20px;
} 

.itemDiv:hover{
   cursor: pointer;
}

.productImage {
  width: 100%;
}

#addToCartButton {
 @include button;
 font-size: 16px;

}

//Max tilägg
#shoppingCart{
  display :flex; 
   flex-wrap: wrap; 
   border: 1px solid red;
   width: 100px; 
   
   z-index: 10000;
    
}

#shoppingcartExtend{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  
  #shoppingCartDiv{
   
    border: 5px solid pink;
  }
}

.hidden{
  display: none;
}
//product-specific
#specificProductContentwrap{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  border: 5px solid red;
  img{
    width: 40%;
  }
  #productTextBox{
    border: solid 3px green;
  }
  #dropDownMenu{
    list-style-type: none;
    border: 1px solid black;
    width: 30%;
    text-align: left;
    padding: 0;
    .sizeOption{
      margin-top: 5px;
    }
    li:hover{
      background-color: rgb(58, 147, 206);
      cursor: pointer;
    } 
  }
}

@include tablets-up { 
  .itemDiv {
  flex: 30%;
    }
      }

      /* FORM KNAPP */

.button {  
@include button; 
}